@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

@layer components {
  /* Form style */
  .form {
    @apply flex flex-col gap-2;
  }

  .form label {
    @apply font-semibold;
  }

  .form input,
  .form textarea {
    @apply border border-green-700 rounded-md p-2 placeholder:text-green-700 placeholder:text-sm;
  }

  /* Link style */
  .link {
    @apply text-green-700 hover:text-green-600 hover:underline;
  }

  /* Button style */
  .btn {
    @apply p-2 rounded-md;
  }

  .btn-primary {
    @apply bg-green-700 text-white hover:bg-green-800;
  }

  .btn-outline-primary {
    @apply border border-green-700 hover:bg-[rgb(183,212,183)] hover:text-green-900;
  }

  /* Slider style */
  .slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    width: 100%;
  }

  .slider .slider-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    scroll-snap-align: start;
  }

  /* Card style */
  .card {
    @apply border-[1.5px] border-green-700 hover:opacity-50 rounded-2xl p-4;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
